{
  "ynab_web_email": "john.doe@gmail.com",
  "ynab_web_password": "superSecret",
  "personal_access_token": "1234567890",
  "budget_id": "last-used",
  "amazon_email": "john.doe@gmail.com",
  "amazon_password": "superSecret",
  "balance_roller_account_id": "f03ebeff-cc58-not-real-d8c8bc8423b0"
}