all:
  vars:
    # The following vars apply globally; additional config is in group_vars/all.
    app_name: ynab-utils        # name of application
    app_cmd: "./ynab-utils"     # entry command for the application
    deploy_user: bholt          # name of the remote user account for provisioning and deployment
    gh_pubkey_user: bradymholt  # the Public key for this GitHub user will be added to authorized_keys for deploy_user
production:
  hosts:
    159.65.171.101              # The hostname or IP address of the remote server
  vars:
    cron_jobs:                  # The cron jobs that will be scheduled
      - { cron_hour: 8, app_args: "all" }
      - { cron_hour: 9, app_args: "all" }